<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for item in items %}

<p>User Name : {{ item.order.name }}</p>

<p>Product : <img src="{{item.product.image.url}}" height=200 width=200> </p>

<p>Quantity : {{ item.quantity }}</p>

<p>Status : {{ item.order.status }}</p>

<form method="POST" action="{% url 'update_status' item.order.id %}">
    {% csrf_token %}

    <!-- <select name="status">
        <option value="pending">Pending</option>
        <option value="shipped">Shipped</option>
        <option value="delivered">Delivered</option>
    </select> -->
    <select name="status">
    {% for value, label in item.order.STATUS_CHOICES %}
        <option value="{{ value }}">{{ label }}</option>
    {% endfor %}
</select>

    <button type="submit">Update</button>
</form>

<hr>

{% endfor %}
</body>
</html>