<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order page</title>
</head>
<body>
   
    <!-- {% for i in items %}
    <p> User Name  : {{i.order}}</p>
    <p> product  : <img src="{{i.product.image.url}}" heigth="200" width="200"></p>
    <p> quantity : {{i.quantity}}</p>
    <p> Status : {{i.order.status}}</p>
    
    {% endfor %} -->
    <h1>My Orders</h1>

{% for i in items %}

<p>Customer Name : {{ i.order.name }}</p>

<p>
    Product :
    <img src="{{ i.product.image.url }}" height="200" width="200">
    {{ i.product.name }}
</p>

<p>Quantity : {{ i.quantity }}</p>

<p>Status : {{ i.order.status }}</p>

<hr>

{% endfor %}
</body>
</html>