<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
</head>
<body>
    {% if error %}
    <p>{{ error }}</p>
{% endif %}

    <h1> Register page</h1>
    <form method="post" action="">
        {% csrf_token %}
         Username:<input type="text" name="username" placeholder="Enter username ">
         <br>
         <br>
         Password:<input type="password" name="password1" placeholder="Enter password ">
         <br><br>
          re-Password:<input type="password" name="password2" placeholder="Enter password again">
        <br>
        <br>  
        <button type="submit"> Login</button>
         
    </form>
</body>
</html>